/* CSS VARIABLES */
:root {
    --column-bottom: calc(var(--space-size) * var(--num-of-rows) + 7.5rem); /* Number of px to drop checker */
    --bounce-height1: calc(var(--column-bottom) - 18px);
    --bounce-height2: calc(var(--column-bottom) - 10px);
    --bounce-height3: calc(var(--column-bottom) - 6px);
}

/* KEYFRAME ANIMATION */
@keyframes drop {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    38% {
        transform: translateY(var(--column-bottom));
        animation-timing-function: ease-out;
    }
    55% {
        transform: translateY(var(--bounce-height1));
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(var(--column-bottom));
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(var(--bounce-height2));
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(var(--column-bottom));
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(var(--bounce-height3));
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(var(--column-bottom));
        animation-timing-function: ease-out;
    }
}

.drop {
    animation: drop 0.8s both;
}