/* CSS VARIABLES */
:root {
    --num-of-cols: 7;
    --num-of-rows: 6;
    --space-size: 80px;
    --board-color: #1d90ff;
    --primary-color: #ff0102; /* Player 1's checker color */
    --secondary-color: #ffd800; /* Player 2's checker color */
}

/* STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--board-color);
}

#board {
    z-index: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--num-of-cols), 1fr);
    grid-template-rows: repeat(var(--num-of-rows), 1fr);
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--board-color);
    border-radius: 30px;
}

#possible-position {
    height: var(--space-size);
    width: var(--space-size);
    border-radius: 50%;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
}

.transparent {
    opacity: 0;
}

#possible-position.col1 {
    right: calc((1rem + var(--space-size))*3);
}

#possible-position.col2 {
    right: calc((1rem + var(--space-size))*2);
}

#possible-position.col3 {
    right: calc(1rem + var(--space-size));
}

#possible-position.col4 {
    right: 0;
}

#possible-position.col5 {
    left: calc(1rem + var(--space-size));
}

#possible-position.col6 {
    left: calc((1rem + var(--space-size))*2);
}

#possible-position.col7 {
    left: calc((1rem + var(--space-size))*3);
}

.space {
    width: var(--space-size);
    height: var(--space-size);
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    mix-blend-mode: screen;
}

.p1-checker {
    background-color: var(--primary-color);
}

.p2-checker {
    background-color: var(--secondary-color);
}