@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap');

:root {
    --num-of-cols: 7;
    --num-of-rows: 6;
    --board-color: #1d90ff;
    --primary-color: #ff0102; /* Player 1's checker color */
    --secondary-color: #ffd800; /* Player 2's checker color */
    --background-color: whitesmoke;
    --space-size: 80px;
    --board-gutter: 10px;
    --board-padding: 15px;
    --space-above-board: -110px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    background-color: var(--background-color);
}

#overflow-handler {
    overflow: hidden;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 9rem;
    margin-bottom: calc(100vh - 9rem - 630px);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    line-height: 1;
}

h1 {
    color: var(--board-color);
    font-size: 56px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 12px;
}

button {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--board-color);
    border-color: var(--board-color);
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: none;
    cursor: pointer;
}

button:hover {
    opacity: 75%;
}

#message {
    font-size: 21px;
    display: none;
    margin-top: 2rem;
    padding: 8px 12px;
    border: solid 2px #eecdc5;
    border-radius: 10px;
    background-color: #fcede9;
}

#close {
    font-size: 28px;
    margin-left: 1rem;
    color: #6a737c;
    cursor: pointer;
}

#board {
    position: relative;
    margin-left: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--num-of-cols), 1fr);
    grid-template-rows: repeat(var(--num-of-rows), 1fr);
    border: solid var(--board-padding) var(--board-color);
    border-radius: 30px;
}

#checkers {
    position: absolute;
    z-index: -1;
}

.checker {
    height: var(--space-size);
    width: var(--space-size);
    border-radius: 50%;
    position: absolute;
    top: var(--space-above-board);
    transition: top 550ms cubic-bezier(0.35, 1.54, 0.41, 0.8), 
                left 100ms ease-in,
                bottom 550ms cubic-bezier(0.35, 1.54, 0.41, 0.8);
}

.transparent {
    opacity: 0;
}

.space {
    box-sizing: content-box;
    width: var(--space-size);
    height: var(--space-size);
    background: radial-gradient(circle at center, transparent 71%, var(--board-color) 71%);
    border: solid var(--board-gutter) var(--board-color);
}

.hidden {
    height: 0;
}

@media (max-width: 1024px) {
    #wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: calc(100vh - 11rem - 737px);
    }

    header {
        align-items: center;
    }

    #board {
        margin: 8rem 0 0 0;
    }
}